/*
* Reset all original styles
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*     START OF CSS CHANGES     */

body {
    background-color: #6D3D7D; /* Fallback */
    background: repeating-linear-gradient( /* http://css-tricks.com/stripes-css/ */
        -35deg,
        #6D3D7D,
        #6D3D7D 2em,
        #BA8BCA 2em,
        #BA8BCA 4em
    );
    width: 46.8em;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.3em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
header, main, footer {
    box-shadow: 5px 5px 10px #333333;
}
h1, h2, h3 {
    font-family: Georgia, serif;
}
h1 {
    font-size: 1.6em;
    font-weight: bolder;
    margin-bottom: 0.5em;
    padding: 0.2em;
}
h2 {
    font-size: 1.4em;
    font-weight: bolder;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom: 0.5em;
}
header {
    float: left;
    clear: both;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 7.5em;
    background: #B6CA8B url(pics/logotype.png) top left no-repeat;
}
main {
    float: right;
    width: 100%;
    background-color: #EEFFC9;
}
article, section, aside, nav.labs, nav.courses {
    float: right;
    width: 66%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0.5em;
}
.bloggpost {
    padding-top: 0.5em;
    border-top: 0.1em solid black;
}
video, table {
    width: 100%;
    box-shadow: 4px 4px 7px #333333;
}
nav.mainNav {
    width: 28%;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
    margin-left: 1%;
    margin-top: 1%;
}
nav.mainNav li{
    overflow: hidden;
    height: 2em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: #B6CA8B;
    box-shadow: 2px 2px 2px #333333;
}
nav.mainNav li:hover {
    background-color: #5F6E40;
}
nav.mainNav .active {
    font-weight: bolder;
}
nav.mainNav a{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.2em;
    color: #000000;
    font-variant: small-caps;
    padding: 0.4em;
    width: 100%;
    height: 1em;
    text-decoration: none;
}
nav.courses ul {
    margin-top: 1em;
    list-style: disc inside;
}
nav.courses li {
    margin-bottom: 0.5em;
}
nav.labs {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
nav.labs li:not(:last-child):after {
    content: ",";
}
nav.labs li {
    display: inline;
}
footer {
    background-color: #B6CA8B;
    float: right;
    width: 100%;
}
table, td, th {
    border: 0.1em solid black;
}
table {
    margin: 1em 0;
}
[rowspan] {
    text-align: center;
    vertical-align: middle;
    background-color: #EEFFC9;
}
thead, tfoot, tr:nth-child(even) {
    background-color: #B6CA8B;
}
p, dt {
    margin-bottom: 0.5em;
}
ol {
    list-style: decimal inside;
    margin-bottom: 0.5em;
}
ul {
    margin-bottom: 1em;
}
li > ol {
    margin-left: 1em;
}
dt {
    font-weight: bold;
}
.question:before {
    content: "?> ";
}
dd {
    margin-left: 1em;
    margin-bottom: 1em;
}
img, li > dl {
    margin: 1em;
}
a {
    color: #5F6E40;
}
a:visited {
    color: #6D3D7D;
}
a:hover, a:focus {
    color: #BA8BCA;
}
.bloggpost {
    padding-top: 0.5em;
    border-top: 0.1em solid black;
}
.authorInfo {
    text-align: right;
    margin-top: 0.5em;
    border-top: 0.1em dotted black;
}
.tagline {
    font-size: 1.2em;
    text-align: right;
}
.right {
    float: right;
}
.left {
    float: left;
}