/*
* Reset all original styles
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, Header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, Header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*     START OF CSS CHANGES     */

/*
    Background: #6D3D7D and #BA8BCA
    Background #pageHeader, Footer, Menu: #B6CA8B
    Background Main, Menu Hover Text: #EEFFC9
    Hover Background Menu, Link: #5F6E40 
    Link Visited: #6D3D7D
    Link Hover/Focus: #BA8BCA
    Box-Shadow: #333333
    Text: #FFFFFF
*/

body {
    background-color: #EEFFC9;
    width: 100%;
    line-height: 1.4em;
    font-family: Verdana, Geneva, sans-serif;
}
h1, h2, h3 {
    font-family: Georgia, serif;
}
h1 {
    font-size: 1.6em;
    font-weight: bolder;
    margin-bottom: 0.5em;
    padding: 0.2em;
}
h2 {
    font-size: 1.4em;
    font-weight: bolder;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom: 0.5em;
}
main {
    width: 100%;
    background-color: #EEFFC9;
}
article, aside, section, nav.courses, #bloggHeader {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
}
video, table {
    width: 100%;
}
nav.mainNav {
    width: 100%;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 1em;
}
nav.mainNav li{
    overflow: hidden;
    height: 3em;
}
nav.mainNav li:hover a {
    color: #EEFFC9;
}
nav.mainNav .active {
    font-weight: bolder;
}
nav.mainNav a {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.2em;
    color: #000000;
    font-variant: small-caps;
    padding: 0.4em 0.4em 0.4em 2em;
    width: 100%;
    height: 1.75em;
    text-decoration: none;
}
nav.courses ul {
    margin-top: 1em;
}
nav.courses li {
    margin-bottom: 0.5em;
}
nav.labs {
    width: 100%;
    margin-bottom: 0.5em;
}
nav.labs li:not(:last-child):after {
    content: ",";
}
nav.labs li {
    display: inline;
}
table, td, th {
    border: 0.1em solid black;
}
table {
    margin: 1em 0;
}
thead, tfoot, tr:nth-child(even) {
    background-color: #B6CA8B;
}
p, dt {
    margin-bottom: 0.5em;
}
ol {
    list-style: decimal inside;
    margin-bottom: 0.5em;
}
li > ol {
    margin-left: 1em;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 1em;
    margin-bottom: 1em;
}
img, li > dl {
    margin: 0.5em;
}
a {
    color: #5F6E40;
}
a:visited {
    color: #6D3D7D;
}
a:hover, a:focus {
    color: #BA8BCA;
}
fieldset {
    border: 0.2em solid #5F6E40;
    border-radius: 0.5em;
    padding: 0.5em 2em 0.5em 0.5em;
}
fieldset, button {
    margin-top: 1em;
}
button {
    width: 100%;
    background-color: #B6CA8B;
    padding: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
}
button:focus, button:hover {
    color: #EEFFC9;
    background-color: #5F6E40;
}
legend {
    background-color: #B6CA8B;
    border: 0.2em solid #5F6E40;
    border-radius: 0.5em;
    margin: 0.25em;
    padding: 0.25em;
}
textarea {
    height: 10em;
}
input:not([type=checkbox]):not([accept="video/"]), textarea, select {
    display: block;
    width: 100%;
    background-color: #B6CA8B;
    border: 0.3em solid #5F6E40;
    border-radius: 0.5em;
    margin-bottom: 1em;
    padding: 0.4em;
}
input:focus, textarea:focus, select:focus {
    background-color: #EEFFC9;
}
#pageHeader {
    width: 100%;
    padding-top: 20%;
    background: #B6CA8B url(pics/logotype.png) top center no-repeat;
    background-size: 100%;
}
#mainFooter {
    background-color: #B6CA8B;
    width: 100%;
    padding: 0.5em 0;
}
#mainFooter p, #mainFooter .vcard {
    margin: 0em 0 0.5em 0.5em;
}
.question:before {
    content: "?> ";
}
.bloggpost {
    padding-top: 0.5em;
    border-top: 0.1em solid black;
}
.bloggpostHeader {
    background-image: url(pics/fairy.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.bloggFooter {
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0.5em;
    border-top: 0.1em dotted black;
}
.tagline {
    font-size: 1.2em;
    text-align: right;
    margin-right: 0.25em;
}
.right {
    float: right;
}
.left {
    float: left;
    margin-left: 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.start, .laborationer, .presentation, .kontakt {
    background-color: #B6CA8B;
    background-image: url(pics/sprite.png);
    background-repeat: no-repeat;
}
.start:hover a, .laborationer:hover a, .presentation:hover a, .kontakt:hover a {
    background-color: #5F6E40;
    background-image: url(pics/sprite.png);
    background-repeat: no-repeat;
}
.start {
    background-position: 5px -43px;
}
.start:hover a {
    background-position: 5px 5px;
}
.laborationer {
    background-position: 5px -139px;
}
.laborationer:hover a {
    background-position: 5px -91px;
}
.presentation {
    background-position: 5px -235px;
}
.presentation:hover a {
    background-position: 5px -187px;
}
.kontakt {
    background-position: 5px -331px;
}
.kontakt:hover a {
    background-position: 5px -283px;
}
[rowspan] {
    text-align: center;
    vertical-align: middle;
    background-color: #EEFFC9;
}

@media all and (min-width: 48em) {
    body {
        background-color: #6D3D7D; /* Fallback */
        background: repeating-linear-gradient( /* http://css-tricks.com/stripes-css/ */
            -35deg,
            #6D3D7D,
            #6D3D7D 2em,
            #BA8BCA 2em,
            #BA8BCA 4em
        );
        width: 46.8em;
        margin-top: 0.5em;
        margin-left: auto;
        margin-right: auto;
    }
    main, #pageHeader, #mainFooter {
        box-shadow: 5px 5px 10px #333333;
    }
    #pageHeader {
        float: left;
        clear: both;
        margin: 0 auto;
        padding-top: 7.5em;
    }
    main {
        float: right;
    }
    video, table {
        width: 100%;
        box-shadow: 4px 4px 7px #333333;
    }
    article, aside, section, nav.courses, #bloggHeader {
        float: right;
        width: 66%;
        margin-left: 2%;
        margin-right: 2%;
    }
    nav.mainNav {
        width: 28%;
        margin-left: 1%;
        margin-top: 1%;
    }
    nav.mainNav li {
        height: 2em;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
        box-shadow: 2px 2px 2px #333333;
    }
    nav.mainNav a {
        font-size: 1.2em;
        padding: 0.4em 0.4em 0.4em 2em;
        height: 1em;
    }
    nav.courses ul {
        list-style: disc inside;
    }
    nav.labs {
        width: 100%;
    }
    ul {
        margin-bottom: 1em;
    }
    button {
        border-radius: 0.5em;
    }
    fieldset, button, input, textarea, select, legend {
        box-shadow: 2px 2px 2px #333333;
    }
    img, li > dl {
        margin: 1em;
    }
    #mainFooter {
        float: right;
        padding: 0;
    }
    #mainFooter p {
        margin-top: 0.25em;
    }
    .shadow {
        box-shadow: 4px 4px 7px #333333;
    }
}