body {
    background-color: #A59178;
}
a {    
    background-color: #FFFFFF;
    display: inline-block;
    width: 200px;
    padding: 10px 10px 50px 10px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}
a:after {
  content: attr(title);
}
img {
    width: 100%;
}
#container {
    margin-top: 75px;
}
#images {
    display: inline-block;
    width: 70%;
    margin-left: 5%;
    padding-right: 5%;
    border-right: 1px solid #666666;
}
#side {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    width: 15%;
}
