body {
    background-color: #A59178;
}
main {
    margin-left: 5%;
}
aside {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    width: 20%;
}
#images {
    display: inline-block;
    width: 75%;
    padding-right: 2%;
    border-right: 1px solid #666666;
}
#images a {    
    background-color: #FFFFFF;
    display: inline-block;
    width: 200px;
    padding: 10px 10px 50px 10px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    box-shadow: 7px 7px 7px #333333;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    z-index: 0;
}
#images a:nth-child(2n) {
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
}
#images a:nth-child(3n) {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}
#images a:nth-child(4n) {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}
#images a:nth-child(5n) {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}
#images a:after {
  content: attr(title);
}
#images a:hover, #images a:focus {
    transform: scale(1.75);
    -webkit-transform: scale(1.75);
    -moz-transform: scale(1.75);
    -o-transform: scale(1.75);
    position: relative;
    z-index: 5;
    box-shadow: 14px 14px 28px #333333;
}
#images a:focus { /* to prevent a focused image to go on top of a hovered image */
    z-index: 4;
}
#images img {
    width: 100%;
}
